.section-card {
    background-color: white;
    border: 1px solid rgb(102 102 102 / 25%);
    border-radius: 6px;
    padding: 10px;
}

.section-title {
    color: #14304d;
    font-weight: 700;
    font-size: 16px;
}

.total-count {
    color: #003F5E;
    font-weight: 700;
    font-size: 14px;
}

.table-responsive-wrapper {
    overflow-x: auto;
}

.items-table th,
.items-table td {
    font-size: 13px;
    vertical-align: middle;
}

.items-table th {
    color: #14304d;
    text-transform: uppercase;
    font-size: 12px;
}
