<ion-header>
  <ion-toolbar>
    <app-header [title]="'mmm'"></app-header>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container-fluid pe-0 mt-1">
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-12 col-sm-12 col-12 mt-sm-3 mt-2">
            <div class="card" routerLink="/storein">
                <div class="card-body">
                    <div class="text-center">
                        <div class="d-flex flex-column flex-md-row align-items-center justify-content-center">
                            <span class="h3 fw-bold mt-2 responsive-text d-flex align-items-center" style="color: #14304d; font-weight: 600; font-size: 1.2rem;">
                                PRE BINNING
                                <img src="../../assets/images/storein.png" alt="" class="mt-1 ml-5   responsive-image" />
                            </span>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-12 col-sm-12 col-12 mt-sm-3 mt-2">
            <div class="card box" routerLink="/storestatus">
                <div class="card-body">
                    <div class="text-center">
                      <div class="d-flex flex-column flex-md-row align-items-center justify-content-center">
                        <span class="h3 fw-bold mt-2  responsive-text d-flex align-items-center" style="color: #14304d; font-weight: 600; font-size: 1.2rem;">
                            PRE BINNING<br> STATUS
                            <img src="../../assets/images/storestatus.png" alt="" class="ms-2 mt-1 ml-5 mb-0 responsive-image" />
                        </span>
                    </div>
                    
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-12 col-sm-12 col-12 mt-sm-3 mt-2">
            <div class="card" routerLink="/emptybin">
                <div class="card-body">
                    <div class="text-center">
                        <div class="d-flex flex-column flex-md-row align-items-center justify-content-center">
                            <span class="h3 fw-bold mt-2 responsive-text d-flex align-items-center" style="color: #14304d; font-weight: 600; font-size: 1.2rem;">
                                EMPTY BIN
                                <img src="../../assets/images/storein.png" alt="" class="mt-1 ml-5   responsive-image" />
                            </span>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-12 col-sm-12 col-12 mt-sm-3 mt-2">
            <div class="card" routerLink="/re-filling">
                <div class="card-body">
                    <div class="text-center">
                        <div class="d-flex flex-column flex-md-row align-items-center justify-content-center">
                            <span class="h3 fw-bold mt-2 responsive-text d-flex align-items-center" style="color: #14304d; font-weight: 600; font-size: 1.2rem;">
                                RE-FILLING
                                <img src="../../assets/images/storein.png" alt="" class="mt-1 ml-5   responsive-image" />
                            </span>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-12 col-sm-12 col-12 mt-sm-3 mt-2">
            <div class="card" routerLink="/stock-adjustment">
                <div class="card-body">
                    <div class="text-center">
                        <div class="d-flex flex-column flex-md-row align-items-center justify-content-center">
                            <span class="h3 fw-bold mt-2 responsive-text d-flex align-items-center" style="color: #14304d; font-weight: 600; font-size: 1.2rem;">
                                STOCK-ADJUSTMENT
                                <img src="../../assets/images/storein.png" alt="" class="mt-1 ml-5   responsive-image" />
                            </span>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
 
 
    </div>
</div>

</ion-content>